<nav class="navbar navbar-expand-lg navbar-light bg-transparent px-4 shadow-sm">
  <div class="container-fluid">
    <!-- Left: Branding -->
    <a class="navbar-brand text-primary fw-bold" href="#">Flywithus.com</a>

    <!-- Right: Auth Buttons -->
    <div class="d-flex ms-auto">
      <ng-container *ngIf="!isLoggedIn; else logoutBtn">
        <a class="btn btn-outline-primary" routerLink="/auth">Login</a>
      </ng-container>

      <ng-template #logoutBtn>
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </ng-template>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
